.login {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/bg-login.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        background-position: center;
    }

    &__bg {
        background: linear-gradient(180deg, var(--dark-blue) 0%, var(--dark-blue-transparent) 44%, rgba(88,83,190,0) 100%);
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__form {
        width: 80%;
        height: 70vh;
        background-color: var(--dark-blue-transparent);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;

        @media (min-width: 768px) {
            width: 30%;
        }

        &__title {
            color: var(--light-blue);
            margin-bottom: 2rem;

            @media (min-width: 768px){
                font-size: 2rem;
                margin-bottom: 3.5rem;
            }
        }

        &__input {
            padding: .3rem .5rem;
            margin-bottom: 1rem;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid var(--light-blue);
            color: var(--light-blue);
            outline: none;

            @media (min-width: 768px){
                width: 60%;
                margin-bottom: 2.5rem;
                padding: .5rem .7rem;
                font-size: 1rem;
            }

            &:focus {
                outline: none;
            }
        }

    }
}