.btn {
    margin: 1rem;
    padding: .7rem 1.5rem;
    font-size: 1rem;
    background-color: var(--light-blue);
    border: 2px solid var(--dark-blue);
    border-radius: 2rem;
    color: var(--dark-blue);
    transition: all .2s;
    position: relative;
    z-index: 100;

    @media (min-width: 768px) {
        margin: 2rem;
    }

    &:hover {
        background-color: var(--dark-blue);
        color: var(--light-blue);
        border: 2px solid var(--light-blue);
    }
}